<!DOCTYPE HTML>
{% include relative_root.html %}
<html lang="en">
<head>
	<title>{{ site.title }} {{ page.title }}</title>
	{% include assets.html %}
</head>
<body>

	{% include nav.html %}

	<div class="main">
		<p>
		{{ site.title }} {{ page.title }} was held {% if edition.place %}in {{ edition.place }}{%
		else %}online due to the COVID pandemic,{% endif %}
		on {{ edition.dates | replace: "-", "&ndash;" }}.</p>

		<h1>List of presentations</h1>
		{{ content }}

		{% if edition.sponsors %}
		<h1>Sponsors</h1>
		{% include sponsors.html %}
		{% endif %}
	</div>
	
	{% include footer.html %}

</body>
</html>
